{{#if users}}
    <h2 class='centered'>{{users.length}} Invited Users</h2>
    <div class='centered'>
        <input placeholder="Search" oninput="searchTable(this);"/>
    </div>
    <table id='user-list' class='view-list'>
        <thead>
        <tr>
            <th><span onclick='sortTable(this)'>Email</span></th>
            <th><span onclick='sortTable(this)'>Invitor</span></th>
            {{#if user.role.admin}}
            <th><span onclick='sortTable(this)'>Manager</span></th>
            {{/if}}
            {{#if user.role.super}}
            <th><span onclick='sortTable(this)'>Role</span></th>
            {{/if}}
        </tr>
        </thead>
        <tbody>
    {{#each users}}
        <tr style='background:#DEF;'>
            <td><a href='mailto:{{email}}'>{{email}}</a></td>
            <td><a href='/users/view?id={{invitor._id}}'>{{invitor.name}}</a></td>
            {{#if ../user.role.admin}}
            <td><a href="/users/view?id={{manager._id}}">{{manager.name}}</a></td>
            {{/if}}
            {{#if ../user.role.super}}
                <td>
                {{#if role.master}}
                    Gatekeeper
                {{else if role.super}}
                    SuperManager
                {{else if role.admin}}
                    Manager
                {{else}}
                    User
                {{/if}}
                </td>
            {{/if}}
        </tr>
    {{/each}}
        </tbody>
    </table>
        <script type="text/javascript" src="/js/tableFunctions.js"></script>
{{else}}
    <h4 class='error'>No Invites</h4>
    <a class='centered' href='/users/new'>Add One</a>
{{/if}}